html
  min-height: 101vh
  font-size: 62.5%

  body
    background-color: $backgound-color
    font-family: Montserrat, sans-serif

  *
    margin: 0
    padding: 0
    box-sizing: border-box

  h1
    font-size: 3.2rem
    text-align: center
