.book
  display: flex
  align-items: flex-start
  margin-bottom: 20px
  padding: 10px
  border: 1px solid $grey
  border-radius: 5px
  background-color: $white
  font-size: 1.6rem

  &__cover
    align-self: center
    max-height: 180px
    margin-right: 20px
    border-radius: 5px


  &__title
    padding-bottom: 10px
    font-weight: bold


  @media screen and (max-width: $screen-sm)
    flex-direction: column

    &__cover
      margin-bottom: 20px
