.button
  padding: 15px
  border: 0
  border-radius: 20px
  outline: none
  background-color: $grey
  color: $grey-dark
  font-weight: bold
  box-shadow: 5px 5px 10px

  &:hover
    cursor: pointer

  &:active
    transform: translateY(5px)
    box-shadow: 5px 3px 7px
