.input
  width: 100%
  height: 3.5rem
  margin-bottom: 20px
  padding-left: 15px
  transition: all .2s
  border: 0
  border-bottom: 2px solid $grey
  background-color: $white
  font-size: 1.8rem

  &:active,
  &:focus
    border-bottom: 2px solid $black
    outline: none

